.centerWrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.rental-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

.welcome--name {
  padding-bottom: 2.5rem;
  color: rgb(107, 106, 106);
}
